*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, $dark, $greyish);
  color: $offwhite;
  text-align: center;
  line-height: 50px;
}

h1{
  text-align: center;
  margin: 20px auto;
  font-family: $font1;
}